@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/grass-dark.css';
@import '@radix-ui/colors/yellow.css';
@import '@radix-ui/colors/yellow-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.25rem;

  --primary-1: 240 20% 99%;
  --primary-2: 240 20% 98%;
  --primary-3: 240 11.1% 94.7%;
  --primary-4: 240 9.52% 91.8%;
  --primary-5: 250 10.7% 89%;
  --primary-6: 257 9.86% 86.1%;
  --primary-7: 253 9.89% 82.2%;
  --primary-8: 245 8.66% 75.1%;
  --primary-9: 250 8.57% 13.7%;
  --primary-10: 249 6.19% 22.2%;
  --primary-11: 255 3.88% 40.4%;
  --primary-12: 250 8.57% 13.7%;

  --grey-1: var(--mauve-1);
  --grey-2: var(--mauve-2);
  --grey-3: var(--mauve-3);
  --grey-4: var(--mauve-4);
  --grey-5: var(--mauve-5);
  --grey-6: var(--mauve-6);
  --grey-7: var(--mauve-7);
  --grey-8: var(--mauve-8);
  --grey-9: var(--mauve-9);
  --grey-10: var(--mauve-10);
  --grey-11: var(--mauve-11);
  --grey-12: var(--mauve-12);

  --info-1: var(--blue-1);
  --info-2: var(--blue-2);
  --info-3: var(--blue-3);
  --info-4: var(--blue-4);
  --info-5: var(--blue-5);
  --info-6: var(--blue-6);
  --info-7: var(--blue-7);
  --info-8: var(--blue-8);
  --info-9: var(--blue-9);
  --info-10: var(--blue-10);
  --info-11: var(--blue-11);
  --info-12: var(--blue-12);

  --success-1: var(--grass-1);
  --success-2: var(--grass-2);
  --success-3: var(--grass-3);
  --success-4: var(--grass-4);
  --success-5: var(--grass-5);
  --success-6: var(--grass-6);
  --success-7: var(--grass-7);
  --success-8: var(--grass-8);
  --success-9: var(--grass-9);
  --success-10: var(--grass-10);
  --success-11: var(--grass-11);
  --success-12: var(--grass-12);

  --warning-1: var(--yellow-1);
  --warning-2: var(--yellow-2);
  --warning-3: var(--yellow-3);
  --warning-4: var(--yellow-4);
  --warning-5: var(--yellow-5);
  --warning-6: var(--yellow-6);
  --warning-7: var(--yellow-7);
  --warning-8: var(--yellow-8);
  --warning-9: var(--yellow-9);
  --warning-10: var(--yellow-10);
  --warning-11: var(--yellow-11);
  --warning-12: var(--yellow-12);

  --error-1: var(--red-1);
  --error-2: var(--red-2);
  --error-3: var(--red-3);
  --error-4: var(--red-4);
  --error-5: var(--red-5);
  --error-6: var(--red-6);
  --error-7: var(--red-7);
  --error-8: var(--red-8);
  --error-9: var(--red-9);
  --error-10: var(--red-10);
  --error-11: var(--red-11);
  --error-12: var(--red-12);
  .dark {
    --primary-1: 260 8.11% 7.25%;
    --primary-2: 260 5.66% 10.4%;
    --primary-3: 255 5.56% 14.1%;
    --primary-4: 260 3.45% 17.1%;
    --primary-5: 264 4.95% 19.8%;
    --primary-6: 270 5% 23.5%;
    --primary-7: 260 4.05% 29%;
    --primary-8: 260 3.03% 38.8%;
    --primary-9: 270 6.25% 93.7%;
    --primary-10: 260 4.11% 71.4%;
    --primary-11: 260 4.11% 71.4%;
    --primary-12: 270 6.25% 93.7%;

    --grey-1: var(--mauve-dark-1);
    --grey-2: var(--mauve-dark-2);
    --grey-3: var(--mauve-dark-3);
    --grey-4: var(--mauve-dark-4);
    --grey-5: var(--mauve-dark-5);
    --grey-6: var(--mauve-dark-6);
    --grey-7: var(--mauve-dark-7);
    --grey-8: var(--mauve-dark-8);
    --grey-9: var(--mauve-dark-9);
    --grey-10: var(--mauve-dark-10);
    --grey-11: var(--mauve-dark-11);
    --grey-12: var(--mauve-dark-12);

    --info-1: var(--blue-dark-1);
    --info-2: var(--blue-dark-2);
    --info-3: var(--blue-dark-3);
    --info-4: var(--blue-dark-4);
    --info-5: var(--blue-dark-5);
    --info-6: var(--blue-dark-6);
    --info-7: var(--blue-dark-7);
    --info-8: var(--blue-dark-8);
    --info-9: var(--blue-dark-9);
    --info-10: var(--blue-dark-10);
    --info-11: var(--blue-dark-11);
    --info-12: var(--blue-dark-12);

    --success-1: var(--grass-dark-1);
    --success-2: var(--grass-dark-2);
    --success-3: var(--grass-dark-3);
    --success-4: var(--grass-dark-4);
    --success-5: var(--grass-dark-5);
    --success-6: var(--grass-dark-6);
    --success-7: var(--grass-dark-7);
    --success-8: var(--grass-dark-8);
    --success-9: var(--grass-dark-9);
    --success-10: var(--grass-dark-10);
    --success-11: var(--grass-dark-11);
    --success-12: var(--grass-dark-12);

    --warning-1: var(--yellow-dark-1);
    --warning-2: var(--yellow-dark-2);
    --warning-3: var(--yellow-dark-3);
    --warning-4: var(--yellow-dark-4);
    --warning-5: var(--yellow-dark-5);
    --warning-6: var(--yellow-dark-6);
    --warning-7: var(--yellow-dark-7);
    --warning-8: var(--yellow-dark-8);
    --warning-9: var(--yellow-dark-9);
    --warning-10: var(--yellow-dark-10);
    --warning-11: var(--yellow-dark-11);
    --warning-12: var(--yellow-dark-12);

    --error-1: var(--red-dark-1);
    --error-2: var(--red-dark-2);
    --error-3: var(--red-dark-3);
    --error-4: var(--red-dark-4);
    --error-5: var(--red-dark-5);
    --error-6: var(--red-dark-6);
    --error-7: var(--red-dark-7);
    --error-8: var(--red-dark-8);
    --error-9: var(--red-dark-9);
    --error-10: var(--red-dark-10);
    --error-11: var(--red-dark-11);
    --error-12: var(--red-dark-12);
  }
}

html,
body {
  @apply bg-grey-base text-grey-text-contrast;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
