.inputItem {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template: auto / auto 1fr;
	column-gap: 0.5rem;
	font-size: 1.25rem;

	&__input {
		padding: 0.3125rem 0.4375rem;
		width: 100%;
		max-width: 7rem;
		text-align: center;
		appearance: textfield;
		background-color: transparent;
		border: 1px solid var(--border-color);
		border-radius: 7px;
	}
}
