.field {
	width: 100%;
	display: grid;
	grid-template: auto / auto 1fr;
	align-items: center;
	gap: 0.625rem;

	&__label {
		font-weight: bold;
		grid-column: 1 / -1;
	}

	&__input {
		padding: 0.4rem 0.5rem;
		width: 100%;
		text-align: center;
		border-radius: 7px;
		border: none;
		appearance: textfield;

		&_positive {
			@extend .field__input;
			background-color: var(--success-color);
		}

		&_negative {
			@extend .field__input;
			background-color: var(--error-color);
		}

		&_default {
			@extend .field__input;
			background-color: var(--light-gray-color);
		}
	}
}
