@use '../abstracts/breakpoints' as *;

.section {
	padding: 1.5rem;
	margin-top: 1.5rem;
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	gap: 1rem;
	background-color: var(--background-component-color);
	border-radius: 10px;

	@include media('>=664px') {
		max-width: 600px;
	}

	@include media('<=474px') {
		grid-auto-flow: row;
	}

	&__operation {
		display: grid;
		grid-template: auto / repeat(4, auto);
		column-gap: 1rem;
		align-items: center;

		span:nth-child(2) {
			font-size: 2rem;
		}
	}

	&__result {
		display: grid;
		grid-auto-flow: row;
		row-gap: 1.5rem;

		@include media('<=474px') {
			div {
				justify-self: center;
			}
		}
	}
}
