.toolItem {
	padding: 1.5rem;
	max-width: 350px;
	display: inline-block;
	text-decoration: none;
	background-color: var(--gray-color);
	border-radius: 0.625rem;

	&__image {
		height: 120px;
		display: grid;
		place-items: center;
		border: var(--border-color) 1px solid;
		border-radius: 0.625rem;
	}

	&__title {
		margin: 1.25rem 0 0.9375rem;
		font-weight: medium;
		transition: color 0.3s;
	}

	&__description {
		color: var(--description-color);
	}

	&:hover {
		.toolItem {
			&__title {
				color: var(--accent-color);
			}
		}
	}
}
