@use '../abstracts/breakpoints' as *;

.toolsList {
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: grid;
		grid-template: auto / repeat(auto-fit, minmax(350px, 1fr));
		gap: 3rem;

		@include media('>=812px') {
			li:last-child {
				justify-self: end;
			}
		}

		@include media('<=812px') {
			li {
				justify-self: center;
			}
		}
	}
}
