.resultItem {
	padding: 0.3125rem 0.4375rem;
	width: max-content;
	display: grid;
	grid-template: auto / auto 1fr;
	text-align: center;
	align-items: center;
	column-gap: 0.5rem;
	font-size: 1.25rem;
	background-color: transparent;
	border: 1px solid var(--border-color);
	border-radius: 7px;
}
