@use '../abstracts/breakpoints' as *;

* {
	box-sizing: border-box;
	outline: 2px solid transparent;
	outline-offset: 2px;

	&:focus {
		box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
	}
}

body {
	background-color: var(--background-color);
}

#__next {
	padding: 1rem 2rem;
	margin: 0 auto;
	max-width: 1000px;
	min-height: 100vh;
	display: grid;
	align-content: space-between;
	color: var(--text-color);

	@include media('<=500px') {
		padding: 0.5rem 1rem;
	}

	main {
		padding-top: 2rem;
		margin: 0 auto;
		min-height: calc(100vh - 3.8125rem - 2.15rem - 2rem);
		width: 100%;
		max-width: 800px;

		h1 {
			margin-bottom: 2rem;
		}

		p {
			margin: 0;
			line-height: 1.4rem;
		}
	}
}

a {
	color: inherit;
}

input {
	color: var(--text-color);
	background-color: var(--background-color);
}
