.navItem {
	position: relative;
	transition: all 0.15s ease-out;
	cursor: pointer;

	&::before {
		content: '';
		height: 1px;
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #805ad5;
		transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
		transform-origin: 50% 100%;
		pointer-events: none;
		clip-path: polygon(
			0% 0%,
			0% 100%,
			0 100%,
			0 0,
			100% 0,
			100% 100%,
			0 100%,
			0 100%,
			100% 100%,
			100% 0%
		);
	}

	a {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
		outline: 2px solid transparent;
		outline-offset: 2px;

		&:focus {
			box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
		}
	}

	&:hover {
		color: #805ad5;

		&::before {
			width: 100%;
			left: 0;
			transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
			clip-path: polygon(
				0% 0%,
				0% 100%,
				50% 100%,
				50% 0,
				50% 0,
				50% 100%,
				50% 100%,
				0 100%,
				100% 100%,
				100% 0%
			);
		}

		a {
			transform: translate3d(0, -2px, 0);
		}
	}
}
